.share-memex-container span {
  font-family: "LXGW WenKai", -apple-system !important;
}

.share-memex-container {
  min-width: 320px;
  font-size: 13px;
}

.share-memex-container .rm-block-main,
.share-memex-container .rm-block-children {
  margin-right: 20px;
}

.share-memex-container .rm-block-main .rm-block-separator,
.share-memex-container .rm-block-children .rm-block-separator {
  display: none;
}

.share-memex-container #share-card-header .memo {
  padding-top: 30px;
}

.share-memex-container #share-card-header .content {
  display: none;
}

.share-memex-container #share-card-footer {
  width: 100%;
  padding-left: 0px;
  background-color: hsla(0, 1%, 24%, 0.118);
}

.share-memex-container #share-card-footer img {
  display: none;
  width: 100%;
}

div.content {
  color: #323232;
  font-size: 14px;
  /* word-break: break-word; */
}

div.content a,
div.content a:visited {
  color: rgb(19, 124, 189);
  text-decoration: none;
}
div.content span.tag {
  color: rgb(19, 124, 189);
}
div.content p {
  line-height: 1.8;
  min-height: 20px;
  margin: 0;
}

div.content ul,
div.content ol {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  margin: 0;
}
div.content li {
  line-height: 1.8;
}

div.content strong {
  font-weight: 9000;
}

.footer-via {
  font-size: 14px;
  color: #9d9d9d;
  font-weight: bold;
  padding: 5px 20px;
}

.footer {
  padding: 0 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .stat {
  font-size: 14px;
  color: #9d9d9d;
  font-weight: bold;
}

.footer .author {
  font-size: 14px;
  color: #9d9d9d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .author .at {
  padding-top: 3.4px;
  display: inline-block;
}

.footer .author .username {
  margin-left: 4px;
}

/* 优化导出样式 */
#share-card-header .memo .time {
  width: 100%;
  padding-left: 40px;
  position: relative;
  padding-bottom: 15px; /* 确保有足够空间显示两条线 */
}

#share-card-header .memo .time::after,
#share-card-header .memo .time::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
}

#share-card-header .memo .time::before {
  bottom: 7px; /* 稍微向上偏移 */
  border-bottom: 2px solid black; /* 更粗的线 */
  left: 5%;
  right: 5%;
}

#share-card-header .memo .time::after {
  bottom: 0; /* 紧贴底部 */
  border-bottom: 1px solid black; /* 更细的线 */
  margin-bottom: 3px;
  left: 5%;
  right: 5%;
}
