/* Share Card Container */
.share-memex-container {
  min-width: 320px;
  font-size: 14px;
}

.share-memex-container span {
  font-family: var(--share-block-card-font-family-base);
  color: var(--share-block-card-font-color);
}

.share-memex-container .rm-block-main,
.share-memex-container .rm-block-children {
  margin-right: 5px;
}

.share-memex-container .rm-block-main .rm-block-separator,
.share-memex-container .rm-block-children .rm-block-separator {
  display: none;
}

/* Content Styles */
div.content {
  color: #323232;
  font-size: 14px;
}

div.content a,
div.content a:visited {
  color: rgb(19, 124, 189);
  text-decoration: none;
}

div.content span.tag {
  color: rgb(19, 124, 189);
}

div.content p {
  line-height: 1.8;
  min-height: 20px;
  margin: 0;
}

div.content li {
  line-height: 1.8;
}

div.content strong {
  font-weight: 900;
}

/* Header Styles */
#share-card-header .memo {
  padding: 10px 20px 5px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

#share-card-header .memo .author {
  width: 50%;
  font-size: 14px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 5px;
}

#share-card-header .memo .author .at,
#share-card-header .memo .author .username {
  font-size: 14px;
  font-family: var(--share-block-card-font-family-base);
  color: var(--share-block-card-font-color);
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

#share-card-header .memo .time {
  width: 100%;
  font-family: var(--share-block-card-font-family-base);
  color: var(--share-block-card-font-color);
  font-size: 14px;
  flex-grow: 1;
  text-align: left;
  margin-bottom: 5px;
}

/* Double line decorative border */
#share-card-header .memo ::after,
#share-card-header .memo ::before {
  content: "";
  position: absolute;
  left: 3%;
  right: 3%;
  height: 0;
}

#share-card-header .memo ::before {
  bottom: 7px;
  border-bottom: 2px solid black;
}

#share-card-header .memo ::after {
  bottom: 0;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
}

/* Footer Styles */
.share-memex-container #share-card-footer {
  width: 100%;
  padding-left: 0;
  background-color: hsla(0, 1%, 24%, 0.118);
}

#share-card-footer .footer {
  padding: 0 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#share-card-footer .footer .via,
#share-card-footer .footer .stat {
  padding-top: 5px;
  font-size: 14px;
  color: #9d9d9d;
  font-weight: bold;
}

/* Global focus reset */
:focus {
  outline: none !important;
}
