@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --data-friend: "WillMc93、praetor29";
}

.i18n-miao-people-desc:before {
  content: "数据每周手动更新，当前 2 位朋友喜欢汤圆可乐";
}
[lang="en"] .i18n-miao-people-desc:before {
  content: "Weekly manual update, 2 friends like TangYuan and Coke";
}

body {
  font-family: "LXGW WenKai Lite", sans-serif;
  font-display: swap;
}

.miaoyan-image-container {
  padding-bottom: 62.5%;
  height: 0;
}

.gradient {
  background: linear-gradient(60deg, #ce9178 0%, #ce9178 100%);
}

.i18n-switch-lang,
.i18n-home-href {
  z-index: 100;
}

.i18n-miao-href:before {
  content: "打赏 ❤️";
}
[lang="en"] .i18n-miao-href:before {
  content: "Like ❤️";
}

.i18n-miao-people:before {
  content: "打赏的朋友们";
}
[lang="en"] .i18n-miao-people:before {
  content: "Friends who feed me";
}

.i18n-share-twitter:before {
  content: "一键分享到 Twitter";
}
[lang="en"] .i18n-share-twitter:before {
  content: "Share To Twitter";
}

.i18n-miao-people-nums:before {
  content: var(--data-friend);
}
[lang="en"] .i18n-miao-people-nums:before {
  content: var(--data-friend);
}

.i18n-home-href:before {
  content: "首页";
}
[lang="en"] .i18n-home-href:before {
  content: "Home";
}

.i18n-switch-lang:before {
  content: "EN";
}
[lang="en"] .i18n-switch-lang:before {
  content: "中文";
}

[lang="en"] .i18n-title {
  /* letter-spacing: normal; */
  /* zoom: 0.86; */
  margin-right: 12px;
}

.hide-before:before {
  display: none !important;
}

.i18n-title:before {
  content: "Block Share Card";
}

[lang="en"] .i18n-title:before {
  content: "Block Share Card";
}

.i18n-cats-desc:before {
  content: "觉得不错？可以请我喝杯咖啡！";
}
[lang="en"] .i18n-cats-desc:before {
  content: "Like it? Buy me a coffee!";
}

.i18n-description:before {
  content: "轻松在移动和桌面设备上分享 Roam Research 区块~";
}
[lang="en"] .i18n-description:before {
  content: "Easily share Roam blocks on mobile and desktop devices.";
}

[lang="en"] .i18n-description {
  width: 105%;
}

.i18n-download:before {
  content: "下载";
}
[lang="en"] .i18n-download:before {
  content: "Download";
}

.i18n-feature:before {
  content: "特征";
}
[lang="en"] .i18n-feature:before {
  content: "Features";
}
.i18n-miao:before {
  content: "安全";
}
[lang="en"] .i18n-miao:before {
  content: "Safe";
}
.i18n-miao-desc:before {
  content: "1. 纯本地操作，无需联网\a 2. 安全可靠，完全开源，保护隐私";
}
[lang="en"] .i18n-miao-desc:before {
  content: "1. Purely local use, no internet needed.\a 2. Secure and private, fully open-source.";
}

@media (min-width: 1024px) {
  [lang="en"] .i18n-jian-view.lg\:pl-48,
  [lang="en"] .i18n-mei-view.lg\:pl-48 {
    padding-left: 4rem;
  }
}
.i18n-mei:before {
  content: "分享";
}
[lang="en"] .i18n-mei:before {
  content: "Share";
}
.i18n-mei-desc:before {
  content: "1. 单击即可分享当前放大区块的图像\a 2. 图像自动调整至适合移动或桌面设备的尺寸\a 3. 优化的图像输出确保清晰可读";
}
[lang="en"] .i18n-mei-desc:before {
  content: "1. Instantly share the zoomed-in block as an image.\a 2. Automatically resized images for mobile or desktop.\a 3. Optimized image output for clarity and readability.";
}

.i18n-kuai:before {
  content: "优化";
}
[lang="en"] .i18n-kuai:before {
  content: "Optimize";
}
.i18n-kuai-desc:before {
  content: "1. 为移动和桌面视图特别优化\a 2. 支持快速下载到指定文件夹\a 3. 跨平台分享无障碍";
}
[lang="en"] .i18n-kuai-desc:before {
  content: "1. Specially optimized for mobile and desktop views.\a 2. Supports quick download to a specified folder.\a 3. Easy sharing across platforms.";
}

.i18n-jian:before {
  content: "简单";
}
[lang="en"] .i18n-jian:before {
  content: "Simple";
}
.i18n-jian-desc:before {
  content: "1. 在 Roam Depot 搜索并安装\a 2. 简单的点击操作即可使用\a 3. 便捷的工具栏图标快速访问";
}
[lang="en"] .i18n-jian-desc:before {
  content: "1. Search and install via Roam Depot.\a 2. Easy to use with just a few clicks.\a 3. Convenient toolbar icon for quick access.";
}

.i18n-footer-title:before {
  content: "觉得不错？";
}
[lang="en"] .i18n-footer-title:before {
  content: "Feel Good?";
}
.i18n-footer-desc:before {
  content: "分享给你志同道合的朋友~";
}
[lang="en"] .i18n-footer-desc:before {
  content: "Share with your like-minded friends~";
}
